.App {
  background-color: #1b2838;
  color: rgb(255, 255, 255);
  min-height: 140vh;
  text-align: center;
}

.Main {
  padding-top: 70px;
  padding-bottom: 70px;
}

.App-header {
  background-color: #1b2838;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Container {
  background-color: #1b2838;
  border: 1px solid #2f4662;
  padding: 10px;
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
