.Container {
    background-color: #1b2838;
    border: 1px solid #4c508f;
    padding: 10px;
    margin-top: 10px;
    height: fit-content;
}

.Container {
    display: flex;
}

.Col {
    /* height: 60%; */
    padding-bottom: 80px;
}

.Row {
    height: fit-content;
}